# Auto detect text files and perform LF normalization
*.tex linguist-detectable=false
*.lua linguist-detectable=false
*.qmd linguist-language=R
*.tex linguist-language=R
src/_extensions/andrewheiss/** linguist-vendored