# Auto detect text files and perform LF normalization
*.qmd linguist-language=Python
*.qmd linguist-language=Python
**.tex linguist-language=Python
./src/_extensions/** linguist-vendored
archived/** linguist_vendored
